# Build folders
bin/
obj/

# Visual Studio / VS Code
.vs/
.vscode/

# User files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# ASP.NET Core
appsettings.Development.json

# NuGet
*.nupkg
packages/
.nuget/

# Rider / JetBrains
.idea/

# Test results
TestResults/

# Publish
publish/